<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mi Perfil</ion-title>
    <ion-button slot="end" routerLink="/home">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="center-content">
  <div class="card-container">
    <div class="profile-container">
      <div class="profile-image">
        <img src="https://via.placeholder.com/150" alt="Perfil">
      </div>
      <!--contenedor de datos para el perfil-->>
      <ion-item lines="none" class="editable-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="user.name" placeholder="Escribe tu nombre" clearInput></ion-input>
      </ion-item>

      <ion-item lines="none" class="editable-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="user.email" placeholder="juan.perez&#64;example.com" clearInput></ion-input>
      </ion-item>

      <ion-item lines="none" class="editable-item">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="user.phone" placeholder="Escribe tu teléfono" clearInput></ion-input>
      </ion-item>
      <!--esta parte guarda los cambios hechos -->>
      <ion-button expand="block" class="save-button" (click)="saveProfile()">Guardar Cambios</ion-button>
    </div>
  </div>
</ion-content>
