.background {
  background-color: #1e1e2f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.card {
  background-color: #27293d;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
}

.button {
  --background: #ff4c60;
  --background-hover: #ff616d;
  --background-activated: #ff313d;
  --border-radius: 5px;
  font-weight: bold;
}
